# Operating System files
.DS_Store
Thumbs.db
*.swp
*.swo

# Local Kubernetes & Helm artifacts
.kube/
*.tgz
charts/
tmp/
*.lock

# Local IDE and environment configurations
.vscode/
.idea/
*.env
*.log

# Local secrets or credentials files (Crucial Security Best Practice)
# secrets.yaml
# *-secret.yaml

# Ignore plaintext local secrets completely
minio-secret.yaml
*-local-secret.yaml
alertmanager-slack.yaml

# Keep sealed secrets tracked in Git
!minio-sealed-secret.yaml

# Terraform local state and lock files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl


minio-secret.yaml
